<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.age.demo.mapper.login.UserMapper">

    <select id="findByUsername" resultType="com.age.demo.bean.User">
      SELECT id_user as idUser,password
      FROM user
      WHERE
      user_name = #{userName}
    </select>

    <select id="findUserById" resultType="com.age.demo.bean.User">
        SELECT user_name as userName,password
        FROM user
        WHERE
        id_user = #{idUser}
    </select>

</mapper>